---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/urlshortener/v1/url?key=AIzaSyCYEmxlWS-nWpU0Q1jcs4TF9oi2JsClQNI
    body:
      encoding: UTF-8
      string: '{"longUrl":"https://www.google.com.sg"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"qQqhpr1RL6vGc3-0yacNoUjh_Uc/wcD2UXg0O4vFj3P3JlfmIO7arOI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "urlshortener#url",
         "id": "https://goo.gl/ssxgl",
         "longUrl": "https://www.google.com.sg/"
        }
  recorded_at: Sat, 22 Jul 2017 06:14:43 GMT
- request:
    method: get
    uri: https://www.googleapis.com/urlshortener/v1/url?key=AIzaSyCYEmxlWS-nWpU0Q1jcs4TF9oi2JsClQNI&shortUrl=https://goo.gl/ssxgl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"qQqhpr1RL6vGc3-0yacNoUjh_Uc/J-S29pzh5PyznsrCpNTfz8Sq4hw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "urlshortener#url",
         "id": "https://goo.gl/ssxgl",
         "longUrl": "https://www.google.com.sg/",
         "status": "OK"
        }
  recorded_at: Sat, 22 Jul 2017 06:14:43 GMT
- request:
    method: get
    uri: https://www.googleapis.com/urlshortener/v1/url?key=AIzaSyCYEmxlWS-nWpU0Q1jcs4TF9oi2JsClQNI&shortUrl=https://invalid-url.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "invalid",
            "message": "Invalid Value",
            "locationType": "parameter",
            "location": "shortUrl"
           }
          ],
          "code": 400,
          "message": "Invalid Value"
         }
        }
  recorded_at: Sat, 22 Jul 2017 06:14:44 GMT
- request:
    method: get
    uri: https://www.googleapis.com/urlshortener/v1/url?key=AIzaSyCYEmxlWS-nWpU0Q1jcs4TF9oi2JsClQNI&projection=FULL&shortUrl=https://goo.gl/ssxgl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"qQqhpr1RL6vGc3-0yacNoUjh_Uc/xNQ8WO3PQVlTPEgczcku1PnqUUo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "urlshortener#url",
         "id": "https://goo.gl/ssxgl",
         "longUrl": "https://www.google.com.sg/",
         "status": "OK",
         "created": "2012-02-17T07:01:43.097+00:00",
         "analytics": {
          "allTime": {
           "shortUrlClicks": "42",
           "longUrlClicks": "66",
           "referrers": [
            {
             "count": "41",
             "id": "unknown"
            },
            {
             "count": "1",
             "id": "url.arkar.net"
            }
           ],
           "countries": [
            {
             "count": "37",
             "id": "SG"
            },
            {
             "count": "2",
             "id": "TH"
            },
            {
             "count": "1",
             "id": "CN"
            },
            {
             "count": "1",
             "id": "ID"
            },
            {
             "count": "1",
             "id": "US"
            }
           ],
           "browsers": [
            {
             "count": "23",
             "id": "Chrome"
            },
            {
             "count": "9",
             "id": "MSIE"
            },
            {
             "count": "4",
             "id": "Mobile Safari"
            },
            {
             "count": "2",
             "id": "Firefox"
            },
            {
             "count": "2",
             "id": "Safari"
            },
            {
             "count": "1",
             "id": "CriOS"
            },
            {
             "count": "1",
             "id": "Mobile"
            }
           ],
           "platforms": [
            {
             "count": "25",
             "id": "Windows"
            },
            {
             "count": "8",
             "id": "Linux"
            },
            {
             "count": "7",
             "id": "Macintosh"
            },
            {
             "count": "1",
             "id": "iPad"
            },
            {
             "count": "1",
             "id": "iPhone"
            }
           ]
          },
          "month": {
           "shortUrlClicks": "0",
           "longUrlClicks": "0"
          },
          "week": {
           "shortUrlClicks": "0",
           "longUrlClicks": "0"
          },
          "day": {
           "shortUrlClicks": "0",
           "longUrlClicks": "0"
          },
          "twoHours": {
           "shortUrlClicks": "0",
           "longUrlClicks": "0"
          }
         }
        }
  recorded_at: Sat, 22 Jul 2017 06:18:41 GMT
- request:
    method: get
    uri: https://www.googleapis.com/urlshortener/v1/url?key=AIzaSyCYEmxlWS-nWpU0Q1jcs4TF9oi2JsClQNI&projection=FULL&shortUrl=https://invalid-url.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "invalid",
            "message": "Invalid Value",
            "locationType": "parameter",
            "location": "shortUrl"
           }
          ],
          "code": 400,
          "message": "Invalid Value"
         }
        }
  recorded_at: Sat, 22 Jul 2017 06:18:41 GMT
recorded_with: VCR 3.0.3
