html {
  position: relative;
  min-height: 100%;

}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  height: 100%;
  // margin-bottom: 33px 33px 60px 33px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 24px;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#google-api-data-container {
  height: auto;
  padding-bottom: 60px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

#confirmationDialog {
  width: 220px;
  height: 110px;
  margin: 0 auto;
  border: 1px solid #000;
  background: #fff;
  position: fixed;
  top: 200px;
  border-radius: 3px;
  overflow-y: hidden !important;
  .blank-post {
    margin-left: 197px;
  }
  .modal-body {
    font-size: 15px;
    text-align: center;
    padding-top: 25px;
  }
  .modal-footer {
    border-top: none !important;
  }
}
